.container .row p {
	margin-bottom: 20px;
}

p {
	line-height: 30px;
}

.navbar {
	opacity: 0.9;
}

.jumbotron {
	height: 30em;
	background-image: url("/jumbotron-home.jpg");
	background-size: cover;
  	color: #fff;
}

.jumbotron-content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 115px;
}

.container {
  margin: 0px;
  padding: 0px;
}

.learn-more-btn {
	opacity: 0.9;
}

.home-thumb {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* TABLET */
@media screen and (max-width: 991px) {
    #huge-cout {
    	font-size: 60px;
    }
    #picture-buffer {
    	margin-top:75px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    #huge-cout {
    	display: none;
    }

    .jumbotron-content {
    	margin-top: 20px;
    }

    #quote-credit {
    	display: none;
    }

    #hello-world-about {
    	font-size: 1.5em;
    }

    #picture-buffer {
    	margin-top:10px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
	#huge-cout {
    	font-size: 80px;
    }
    #picture-buffer {
    	margin-top:75px;
    }
}

::selection {
	background: #7F7F7F;
}

.intro-text h3{
	line-height: 50px;
}

.x-close a {
    color: #C3C3C3;
}

.x-close a:hover {
    background-color: transparent;
}